.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}
