header {
  img {
    margin-right: 15px;
  }

  i {
    color: var(--color-dark);
    font-size: var(--fs-500);
    cursor: pointer;
  }

  ul {
    gap: 1rem;
  }

  h3 {
    cursor: pointer;
    font-family: var(--ff-serif);
    font-weight: var(--fw-light);
    font-size: var(--fs-600);
  }
  padding: 15px;
  padding-inline: 7vw;
}
