body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(231, 246, 255, 1);
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Inter", sans-serif;
}

header {
  img {
    margin-right: 15px;
  }
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.wrapper {
  /* Rectangle 17 */

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;

  max-width: 1080px;
  margin: 50px auto;
}

.search-block {
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 10px;
  padding-inline: 15px;
  position: relative;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }

  .clear {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 15px;
    width: 18px;
    height: 18px;
  }
}

.remove-btn {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: rgba(157, 212, 88, 1);
  border-radius: 18px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  &:hover {
    background: lighten(rgba(157, 212, 88, 1), 5%);
  }

  &:active {
    background: darken(rgba(157, 212, 88, 1), 5%);
  }
  &:disabled {
    background-color: #c2c2c2;
    cursor: progress;
  }
}
